
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">yelpcamp</p>
            <div class="list-group">
                <li class="list-group-item active">holi</li>
                <li class="list-group-item">jiji</li>
                <li class="list-group-item">como estai oye</li>
            </div>
            
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="https://pixabay.com/get/57e6d04a4d53ab14f1dc84609620367d1c3ed9e04e50774975267cd0944cc0_340.jpg">
                <div class="caption-full">
                    <h4 class="pull-right">
                        <form>
                            <p class="clasificacion">
                              <input id="radio1" type="radio" name="estrellas" value="5"><!--
                              --><label for="radio1">★</label><!--
                              --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                              --><label for="radio2">★</label><!--
                              --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                              --><label for="radio3">★</label><!--
                              --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                              --><label for="radio4">★</label><!--
                              --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                              --><label for="radio5">★</label>
                            </p>
                          </form>
                    </h4>
                    <h3><a>Nombre asignatura</a></h3>
                    <p>Descripción</p>
                    <p>
                        <em>Submitted By </em>
                    </p>
                    <a class="btn btn-warning" href="/campgrounds/">EDIT</a>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/">Añadir comentario</a>
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="pull-right">10 days ago</span>
                            <p>
                            </p>
                        </div>
                    </div>

            </div>
        </div>
    </div>
    <p>
    </p>
   
</div>