
#navbarPrincipal{
    background-color: rgb(204, 54, 0);
}
#nombreApp{
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
    color: #d4fad6;
}
#login{
    font-family: 'Secular One', sans-serif;
    color: #d4fad6;
}
#signin{
    font-family: 'Secular One', sans-serif;
    color: #d4fad6;
}

img{
    width: 18%;
}

