<nav class="navbar navbar-inverse navbar-fixed-top justify-content-between" id="navbarPrincipal">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" id="nombreApp" href="/">OPT-INF</a>      
        </div>
        <div class="">
            <ul class="nav navbar-nav">
                <li><a id="login" href="/login">Iniciar sesión</a></li>
                <li><a id="signin" href="/register">Registrarse</a></li>
            </ul>
        </div>
    </div>

</nav>

<router-outlet></router-outlet>
