<form action="" class="formulario">
    <h1 class="formulario__titulo">Registro</h1>
    <input type="text" class="formulario__input" placeholder="Nombre usuario" required>
    

    <input type="text" class="formulario__input" placeholder="Contraseña" required>
    

    <div class="input-group mb-3">
        <div class="input-group-append">
        <input type="email" class="formulario__input" id="correo" placeholder="Correo pucv" required>
        
            <span class="input-group-text" id="basic-addon2">@mail.pucv.cl</span>
        </div>
    </div>
  
    <a type="submit" class="formulario__submit">Enviar registro</a>
</form>

