
<div class="container" id="index">
    <header class="jumbotron" id="jumbo">
        <div>
            <h1>ASIGNATURAS ESCUELA DE INFORMATICA</h1>
            <p>Sientase libre de calificar los ramos que ha tenido</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Ingresar nuevo ramo</a>
            </p>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <h2>Listado de ramos</h2>
        </div>
    </div>
    <div class="container">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="">
                </div>
                <div class="caption">
                </div>
                <p>
                    <a href="/campgrounds/" class="btn btn-primary">More info</a>
                </p>
            </div>
        <a href="/">Go back</a>
    </div>
</div>
